@font-face {
    font-display: swap;
    font-family: Alaska;
    src: url(fonts/alaska.ttf) format("truetype")
}

:root {
    --section-spacing: 3.5rem;
    --clr-primary-100: #ffb199;
    --clr-primary-200: #ff8a66;
    --clr-primary-300: #ff6333;
    --clr-primary-400: #db2c00;
    --clr-primary-500: #661800;
    --clr-article-100: #9fbef9;
    --clr-article-200: #6e9ef7;
    --clr-article-300: #3e7ef4;
    --clr-article-400: #255b98;
    --clr-article-500: #062560;
    --clr-youtube-100: #f99fb6;
    --clr-youtube-200: #f66f91;
    --clr-youtube-300: #f33f6c;
    --clr-youtube-400: #dd0e42;
    --clr-youtube-500: #60061d;
    --clr-resource-100: #e3b5db;
    --clr-resource-200: #d68fc9;
    --clr-resource-300: #ba45a5;
    --clr-resource-400: #7b2d6d;
    --clr-resource-500: #381531;
    --clr-course-100: #80e5de;
    --clr-course-200: #56dcd3;
    --clr-course-300: #23a9a0;
    --clr-course-400: #1a7f78;
    --clr-course-500: #115550;
    --clr-neutral-100: #fff;
    --clr-neutral-200: #dedede;
    --clr-neutral-300: #ccc;
    --clr-neutral-700: #666;
    --clr-neutral-800: #4d4d4d;
    --clr-neutral-900: #262626;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.563rem;
    --fs-600: 1.953rem;
    --fs-700: 2.441rem;
    --fs-800: 3.052rem
}

@media only screen and (min-width: 65em) {
    :root {
        --section-spacing: 7rem
    }
}

@media only screen and (min-width: 40em) {
    :root {
        --fs-300: 1rem;
        --fs-400: 1.25rem;
        --fs-500: 2rem;
        --fs-600: 2.827rem;
        --fs-700: 4rem;
        --fs-800: 5.653rem
    }
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    padding: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html {
    scroll-behavior: smooth
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

strong {
    --font-weight: 400;
    font-weight: 500;
}



body {
    color: var(--clr-neutral-900);
    font-family: Alaska,sans-serif;
    font-size: var(--fs-400);
    letter-spacing: -.5px
}


h1, h2, h3, h4 {
    --font-weight: 700;
    --font-width: 80;
    color: var(--clr-neutral-800);
    font-stretch: 100%;
    font-weight: 400;
    line-height: 1.1
}

h1 {
    --font-weight: 900;
    color: var(--clr,var(--clr-primary-400));
}

.title {
    font-size: clamp(var(--fs-600),1rem + 5vw,5rem);
}

.article-snippet-title {
    --font-weight: 600
}


.h1, h1 {
    font-size: var(--fs-800)
}

.h2, h2 {
    font-size: --fs-700
}

.h2, .h3, h2, h3 {
    --flow-spacer: 1.5em
}

.h3, h3 {
    font-size: --fs-600
}

.h4, h4 {
    font-size: --fs-500
}

.text-small, small {
    font-size: var(--fs-300)
}

strong {
    --font-weight: 500;
    font-weight: 400
}

* {
    font-variation-settings: "wght" var( --font-weight, 375),"wdth" var(--font-width, 80);
}

    li:not([class]), p:not([class]), ul:not([class]) {
        max-width: 60ch;
    }

a {
    color: var(--clr,var(--clr-primary-400))
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-neutral-900);
}

body::-webkit-scrollbar-track {
    background: var(--clr-neutral-300);
}

/* body*/


.container {
    margin: 0 auto;
    max-width: 62.5rem;
    padding: 0 1.5rem;
}


.opened {
    display: block;
    position: fixed;
}










/* hero section*/

.hero::before {
    background-color: #db2c00;
    background-image: linear-gradient(145deg,#dd0e42,#ff6333);
    border-radius: 1em;
    bottom: -0.5em;
    content: "";
    grid-row: 1/2;
    left: -0.5em;
    position: absolute;
    right: -0.5em;
    top: -0.5em;
    z-index: -1;
}

.hero {
    display: grid;
    gap: 1em;
    grid-template-areas:
        "heading"
        "image"
        "paragraph";
    margin-bottom: var(--section-spacing);
    position: relative;
}

@media only screen and (min-width: 40em) {
    .hero {
        grid-template-areas: "image heading" 
                             "paragraph paragraph"
    }
}

@media only screen and (min-width: 65em) {
    .hero {
        grid-template-areas: "image heading" 
                            "image paragraph"
    }
}


.hero_title {
    color: var(--clr-neutral-100);
    font-size: var(--fs-600);
    grid-area: heading;
    padding: 0.5rem 0;
}

.hero-img {
    object-fit: cover;
    align-self: start;
    background: #fff;
    border: 0.5em solid #fff;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 0.5em 1em rgba(0,0,0,.15);
    box-shadow: 0 0.5em 1em rgba(0,0,0,.15);
    grid-area: image;
    overflow: hidden;
}

.hero_paragraph {
    grid-area: paragraph;
}

@media only screen and (min-width:40em){
    .hero picture {
        height:100%;
        max-height: 25rem;
        max-width: 17.5rem;
        min-width: 15rem;
        width: 25vw;
    }
}

/* icons */
.icons a {
    text-decoration: none;
}

.icons {
    grid-area: icons;
    justify-content: center;
    display: flex;
    gap: 2em;
}

    .icons i {
        display: block;
        font-size: 24px;
        color: black;
        transition: all .50s ease;
    }

        .icons i:hover {
            transform: translateY(-3px);
        }

.ri-youtube-line:hover {
    color: var(--clr-youtubek-400);
}

.ri-instagram-line:hover {
    color: var(--clr-youtubek-400);
}

.ri-twitter-x-line:hover {
    color: #1C9CEB;
}

.ri-facebook-circle-line:hover {
    color: #0866FF;
}

/* button */

.button {
    --font-weight: 500;
    background-color: var(--clr);
    border: 0;
    border-radius: 100vw;
    -webkit-box-shadow: 0 0.125em 0.5em rgba(0,0,0,.15);
    box-shadow: 0 0.125em 0.5em rgba(0,0,0,.15);
    color: var(--clr-neutral-100);
    cursor: pointer;
    display: inline-block;
    font-size: var(--fs-300);
    letter-spacing: .04em;
    line-height: 1;
    padding: 0.95em 1.75em 0.85em;
    position: relative;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
}

.button {
    text-transform: uppercase;
}

    .button:hover {
        color: var(--clr-neutral-100);
        -webkit-transform: scale(1.05) translateY(-0.125em);
        transform: scale(1.05) translateY(-0.125em);
    }

    .button[data-reverse=true] {
        background-color: var(--clr-neutral-100);
        color: var(--clr, var(--clr-primary-400));
    }



  /* navigation */

.primary-navigation {
    padding: 2rem 0;
    font-weight: 600;
    margin-bottom: 5.653rem;
    box-shadow: 0 0 2em rgba(0,0,0,.1);
    --font-weight: 600;
    --font-width: 80;
    margin-bottom: var(--fs-800);
}

    .primary-navigation ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-size: var(--fs-300);
        justify-content: center;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    .primary-navigation li:first-child {
        --clr: var(--clr-primary-400);
    }

    .primary-navigation li:nth-child(2) {
        --clr: var(--clr-article-400);
    }

    .primary-navigation li:nth-child(3) {
        --clr: var(--clr-youtube-400);
    }

    .primary-navigation li:nth-child(4) {
        --clr: var(--clr-course-400);
    }

    .primary-navigation li:nth-child(5) {
        --clr: var(--clr-resource-400);
    }



    .primary-navigation a {
        color: var(--clr,var(--clr-grayblack-500));
    }

.primary-navigation ul>* {
    margin: 0 0.5em;
    padding: 0.5em;
}


.mobile-nav-toggle {
    display: none;
}

.nav-list {
    font-size: var(--fs-nav);
}

.nav-list {
    display: flex;
    gap: clamp(var(--size-400), 5vw, var(--size-700));
    font-weight: var(--fw-semi-bold);
}

a:visited {
    text-decoration: none;
}

.nav-list a {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.125em;
    /*color: black;*/
    padding: 0.5em;
}

.nav-list li:nth-child(3) a:hover {
    color: var(--clr-yellow-500);
}

.nav-list a:hover,
.nav-list a:focus {
    color: black;
    text-decoration: none;
}


.flow > * + * {
    margin-top: var(--flow-spacer,.75em);
}

/*home section*/

.home-section {
    padding: var(--section-spacing) 0;
}

    .home-section h2 {
        color: var(--clr);
        font-size: var(--fs-700);
        line-height: .8;
    }

        .home-section h2 + p {
            --font-weight: 300;
            border-radius: 0.4em;
            color: #666;
            font-size: .85em;
            margin-bottom: 2em;
            margin-top: 0;
        }

    .home-section header {
        text-align: right;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

   .home-section.youtube {
        background-image: url(images/youtube.svg), linear-gradient(120deg,var(--clr-neutral-100),var(--clr-youtube-100));
        background-position: 50%, 0 0;
        background-repeat: no-repeat;
        background-size: 55rem, 400%;
    }


.youtube {
    --clr: var(--clr-youtube-400);
}

.article {
    --clr: var(--clr-article-400);
}

.course {
    --clr: var(--clr-course-400);
}

.resource {
    --clr: var(--clr-resource-400);
}

.home-section.course {
    background-color: var(--clr-course-400);
    background-image: linear-gradient(120deg, var(--clr-article-400), var(--clr-course-400));
    color: var(--clr-neutral-100);
}

.newsletter {
    --clr: var(--clr-greenk-400);
}

.youtubeLink {
}



/* footer */
.primary-footer {
    background-color: var(--clr-neutral-200);
    color: #4d4d4d;
    font-size: 1rem;
    margin-top: 10rem;
    padding: 3rem;
    text-align: center;
}

    .primary-footer ul {
        -webkit-box-pack: center;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 2rem;
        padding: 0;
    }

    .primary-footer a {
        --font-weight: 750;
        --font-width: 50;
        color: inherit;
    }

    .primary-footer p {
        margin-left: auto;
        margin-right: auto;
    }

    .primary-footer li + li {
        margin-left: 1rem;
    }

/* cta */


/* Utility classes */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

.vertical-align-center {
    align-items: center;
}

.justify-self-end {
    justify-self: end;
}

@media (min-width: 50em) {
    .justify-self-end-md {
        justify-self: end;
    }
}

/*:where(.flow :not(:first-child)) {
    margin-top: var(--flow-spacer, 3em);
}*/

.text-center {
    text-align: center;
}

    .text-center p {
        margin-inline: auto;
    }

@media (max-width: 50em) {
    .text-center-sm-only {
        text-align: center;
    }

        .text-center-sm-only p {
            margin-inline: auto;
        }
}

.text-teal-500 {
    color: var(--clr-teal-500);
}

.text-repinky-500 {
    color: var(--clr-repinky-500);
}

.text-accent-100 {
    color: var(--clr-accent-100);
}

.text-neutral-100 {
    color: var(--clr-neutral-100) !important;
}

.text-neutral-900 {
    color: var(--clr-graywhite-500);
}

.bg-teal-500 {
    background-color: var(--clr-teal-500);
}

.bg-repinky-500 {
    background-color: var(--clr-repinky-500);
}

.bg-accent-100 {
    background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.bg-graywhite-500 {
    background-color: var(--clr-graywhite-500);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
}



.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.padding-block-900 {
    padding-block: var(--size-900);
}

.padding-block-700 {
    padding-block: var(--size-700);
}

.margin-bottom-700 {
    margin-block-end: var(--size-700);
}

.display-sm-none {
    display: none;
}

.screenreader-text:focus {
    display: inline-block;
    height: auto;
    margin: auto;
    position: static;
    width: auto
}

.screenreader-text {
    height: 1px;
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
}

a:focus, a:hover {
    color: var(--clr-primary-400);
    text-decoration: none;
}


